@import "@fontsource/outfit";
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

.pdf-mode * {
  color: black !important;
  background: white !important;
  border-color: black !important;
}


.pdf-mode {
  width: 210mm !important;
  min-height: 297mm !important;
  padding: 20mm !important;
  box-sizing: border-box !important;
}

.pdf-mode * {
  line-height: 1.5 !important;
  overflow: visible !important;
}

.pdf-mode h1,
.pdf-mode h2,
.pdf-mode h3,
.pdf-mode p,
.pdf-mode span,
.pdf-mode div {
  line-height: 1.5 !important;
}
